:root {
    --cor-fundo-principal: #FFFFFF;
    --cor-fundo-secundaria: #e5e5e54d;
    --cor-texto-principal: #464646;
    --cor-texto-secundaria: #FFFFFF;
    --cor-texto-placeholder: #a0a0a0;
    --cor-destaque-principal: #4894FF;
    --cor-hover-principal: #4373DC;
    --cor-destaque-secundaria: #FFB050;
    --cor-destaque-terciaria: #ECECEC;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo-secundaria);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* CABECALHO */

.cabecalho {
    padding: 2em 1em 1.37em 1em;
    display: flex;
    gap: 1em;
    align-items: center;
}

.cabecalho__foto-perfil {
    width: 20%;
    border-radius: 100%;
}

.cabecalho__info__nome {
    font-weight: 700;
    font-size: 1.37em;
    color: var(--cor-texto-principal);
    margin-bottom: 0.3em;
}

.cabecalho__info__consultas {
    font-size: 0.87em;
    color: var(--cor-texto-principal);
}

/* LISTA DE CONSULTAS */

.conteudo {
    padding: 1em 4%;
}

.consultas {
    margin-bottom: 2em;
}

.consultas__data {
    font-weight: 700;
    color: var(--cor-texto-principal);
}

.consultas__consulta {
    padding: 1.25em 1em;
    background-color: var(--cor-fundo-principal);
    margin-top: 0.8em;
    border-radius: 0.5em;
}

.consultas__consulta__paciente {
    display: flex;
    gap: 1em;
}

.consultas__consulta__paciente__foto {
    width: 2em;
    height: 2em;
    border-radius: 100%;
}

.consultas__consulta__paciente__infos {
    display: flex;
    gap: 1.5em;
}

.consultas__consulta__paciente__infos__nome {
    font-size: 0.87em;
    color: var(--cor-texto-principal);
    font-weight: 700;
    margin-bottom: 0.50em;
}

.consultas__consulta__paciente__infos__tipo-container {
    display: flex;
    align-items: center;
    gap: 0.40em;
}

.consultas__consulta__paciente__infos__tipo-consulta {
    font-size: 0.75em;
    color: var(--cor-texto-principal);
}

.consultas__consulta__paciente__infos__chat {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.consultas__consulta__horario {
    display: block;
    margin: 1.37em 0 0.5em 0;
    font-size: 0.75em;
    font-weight: 500;
    color: var(--cor-texto-principal);
}

.consultas__consulta__botoes {
    display: flex;
    gap: 1.12em;
}

.consultas__consulta__botao {
    border-radius: 0.5em;
    border: 0;
    font-size: 0.87em;
    font-weight: 500;
    color: var(--cor-fundo-principal);
    padding: 0.81em 1em;
    background-color: var(--cor-destaque-secundaria);
    cursor: pointer;
}

.consultas__consulta__botao-secundario {
    color: var(--cor-texto-principal);
    background-color: var(--cor-destaque-terciaria);
}

.consultas__consulta__botao-terciario {
    width: 100%;
    color: var(--cor-fundo-principal);
    background-color: var(--cor-destaque-principal);
}

.botao-flutuante__container {
    position: fixed;
    bottom: 10%;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
    align-items: flex-end;
    padding: 0 3%;
    z-index: 3;
}

.botao-flutuante__input {
    display: none;
}

.botao-flutuante__input:checked ~ .botao-escondido {
    display: flex;
}

.botao-flutuante__input:checked ~ .layer {
    display: block;
}

.botao-flutuante__botao {
    background-color: var(--cor-destaque-principal);
    text-align: center;
    width: 3.5em;
    height: 3.5em;
    line-height: 3.7em;
    display: inline-block;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 0px rgba(72,148,255,1);
    cursor: pointer;
}

.botao-escondido {
    display: none;
    align-items: center;
    gap: 1em;
}

.botao-flutuante__label {
    font-weight: 500;
    font-size: 0.75em;
    background-color: var(--cor-destaque-secundaria);
    padding: 0.25em 0.5em;
    border-radius: 0.8em;
    color: var(--cor-texto-secundaria);
}

.botao-flutuante__botao__icone {
    width: 35%;    
}

/* RODAPE */

.rodape {
    background-color: var(--cor-fundo-principal);
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape__navegacao__lista {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
}

.rodape__navegacao__lista__item {
    cursor: pointer;
}

.rodape__navegacao__lista__item > a {
    text-decoration: none;
}

.rodape__navegacao__lista__item:hover > a > span {
    color: var(--cor-destaque-principal);
}

.rodape__navegacao__lista__item__nome {
    font-size: 0.75em;
    color: var(--cor-texto-principal);
}

.item-selecionado {
    color: var(--cor-destaque-principal);
}

.cadastro {
    display: none;
}

@media screen and (min-width: 768px) {

    .consultas__consulta {
        width: 42%;
        display: inline-block;
        margin: 1.25em 1em 0 0;
    }

}

@media screen and (min-width: 1024px) {

    .cabecalho {
        max-width: 900px;
        margin-left: 10%;
        width: 90%;
    }

    .cabecalho__foto-perfil {
        width: 10%;
    }

    .conteudo {
        padding: 2.5em 2%;
        width: 90%;
        margin-left: 10%;
    }

    .consultas {
        max-width: 900px;
        margin: 0 auto 2em auto;
    }

    .consultas__consulta {
        width: 30%;
    }

    .cadastro {
        display: block;
        background-color: var(--cor-fundo-principal);
        max-width: 800px;
        margin: 5em auto;
        border-radius: 80px;
        padding: 5.56em;
    }

    .cadastro__titulo {
        text-align: center;
        margin-bottom: 3em;
        font-size: 1.70em;
        font-weight: 700;
        color: var(--cor-texto-principal);
    }

    .cadastro__formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5em;
    }

    .cadastro__formulario__item {
        width: 100%;
        max-width: 500px;
        padding: 0 4%;
    }

    .cadastro__formulario__item__label {
        color: var(--cor-texto-principal);
    }

    .cadastro__formulario__item__campo {
        width: 100%;
        background-color: var(--cor-fundo-principal);
        border: 1px solid var(--cor-destaque-terciaria);
        border-radius: 0.5em;
        margin-top: 0.5em;
        padding: 1em;
        outline: none;
    }

    .cadastro__formulario__item__radio {
        display: none;
    }

    .radio-personalizado {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .radio-btn {
        width: 20px;
        height: 20px;
        border: 1px solid var(--cor-texto-principal);
        border-radius: 100%;
    }

    .cadastro__formulario__item__radio:checked + .radio-personalizado > .radio-btn {
        background: radial-gradient(circle, var(--cor-destaque-principal) 45%, transparent 50%);
        border: 1px solid var(--cor-destaque-principal);
    }

    .cadastro__formulario__item__campo::placeholder {
        color: var(--cor-texto-placeholder);
    }

    .cadastro__formulario__item__campo:focus {
        border: 2px solid var(--cor-destaque-principal);
    }

    .campo_maior {
        height: 100px;
        resize: none;
    }

    .cadastro__formulario__item__botao {
        width: 50%;
        padding: 1em;
        border: 0;
        background-color: var(--cor-destaque-principal);
        border-radius: 0.5em;
        color: var(--cor-fundo-principal);
        font-weight: 700;
        cursor: pointer;
    }

    .cadastro__formulario__item__botao:hover {
        background-color: var(--cor-hover-principal);
    }

    .botao-flutuante__container {
        display: none;
    }

    .rodape {
        top: 0;
        left: 0;
        width: 10%;
        max-width: 144px;
    }

    .rodape__navegacao__lista {
        gap: 2em;
        flex-direction: column;
        margin-top: 50%;
    }

}

@media screen and (min-width: 1440px) {

    .cabecalho {
        margin: 0 auto;
        padding-left: 5%;
    }

}